In [1]:
# Lecture found in 'Lessons' folder

In [7]:
import pandas as pd

adf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x2' : [1, 2, 3]})

In [8]:
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [9]:
bdf = pd.DataFrame(data = {'x1':['A', 'B', 'D'], 'x3': ['T', 'F', 'T']})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

## Merge adf and bdf based on adf

In [10]:
pd.merge(adf, bdf, how='left')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

## Merge adf and bdf based on bdf

In [11]:
pd.merge(adf, bdf, how='right')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

## Merge adf and bdf based on what they have in common

In [12]:
pd.merge(adf, bdf, how='inner')

  x1  x2 x3
0  A   1  T
1  B   2  F

## Another method for above task

In [14]:
pd.merge(adf, bdf)
# the default merge is inner

  x1  x2 x3
0  A   1  T
1  B   2  F

## Union of merge for adf and bdf

In [15]:
pd.merge(adf, bdf, how='outer')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [16]:
# column-wise concatination
pd.concat([adf, bdf], axis=1)

  x1  x2 x1 x3
0  A   1  A  T
1  B   2  B  F
2  C   3  D  T

In [18]:
cdf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x3' : ['T', 'F', 'T']})
pd.concat([adf, cdf], axis=1)

  x1  x2 x1 x3
0  A   1  A  T
1  B   2  B  F
2  C   3  C  T

## Appending dataframes

In [28]:
# Append bdf after bdf (row-wise concatenation)
pd.concat([adf, bdf], sort=True)

# Column-wise concatination
pd.concat([adf, bdf], axis=1)

  x1  x2 x1 x3
0  A   1  A  T
1  B   2  B  F
2  C   3  D  T

In [33]:
cdf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x3' : ['T', 'F', 'T']})
# cdf
pd.concat([adf, cdf], axis=1)

pd.concat([adf, cdf], sort=False)

# Correct the indexing after concatination
df = pd.concat([adf, cdf], ignore_index=True)
df

pd.merge(adf, cdf, how='left')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  x1  x2 x3
0  A   1  T
1  B   2  F
2  C   3  T

## When two data-frames have exactly the same columns

In [26]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2, ignore_index=True)
df

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

## To combine Pandas dataframes:
1. left join
2. right join
3. inner join
4. outer join
5. appending
6. concat

## Reshape Pandas dataframe with Melt

In [36]:
data = {'weekday': ["Monday", "Tuesday", "Wednesday",
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])

In [37]:
# Reshape Pandas Data With Melt
melted = pd.melt(df, id_vars=["weekday"],
                 var_name="Person", value_name="Score")

melted

      weekday    Person  Score
0      Monday  Person 1     12
1     Tuesday  Person 1      6
2   Wednesday  Person 1      5
3    Thursday  Person 1      8
4      Friday  Person 1     11
5    Saturday  Person 1      6
6      Sunday  Person 1      4
7      Monday  Person 2     10
8     Tuesday  Person 2      6
9   Wednesday  Person 2     11
10   Thursday  Person 2      5
11     Friday  Person 2      8
12   Saturday  Person 2      9
13     Sunday  Person 2     12
14     Monday  Person 3      8
15    Tuesday  Person 3      5
16  Wednesday  Person 3      7
17   Thursday  Person 3      3
18     Friday  Person 3      7
19   Saturday  Person 3     11
20     Sunday  Person 3     15

## Slicing dataframe based on large value for a specific column

In [47]:
import numpy as np

df = pd.DataFrame({'a': [1, 10, 8, 11, -1],'b': list('abdce'), 'c': [1.0, 2.0, np.nan, 3.0, 4.0]})
nlargest = df.nlargest(3, 'a')
nlargest

    a  b    c
3  11  c  3.0
1  10  b  2.0
2   8  d  NaN

In [39]:
df

    a  b    c
0   1  a  1.0
1  10  b  2.0
2   8  d  NaN
3  11  c  3.0
4  -1  e  4.0

In [40]:
df['c'].isnull().sum()

1

In [42]:
df.isnull().sum()

a    0
b    0
c    1
dtype: int64